<h1>About Our Course</h1>

<p>
This three week intensive course has been designed for human rights practitioners currently working in National Human Rights Institutions around the world. </p>

<p>It starts from the basics and goes into both the concepts and application of human rights principles which we may encounter in our every day working life. It is hoped that this course will be fruitful. Please do send us your feedback and comments so that we can further improve the course.
</p>