<% if user_signed_in? %>
<h1> You're logged in! </h1>
<% else %>

<div class="container">
	<h1>Welcome to the Basic Introduction to Human Rights Course</h1>
<div>
	<iframe src="//player.vimeo.com/video/30316012" width="1100" height="550" frameborder="0.5" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
	<p><a href="http://vimeo.com/30316012">Metropolis - A New York City Timelapse</a> from <a href="http://vimeo.com/willboisture">Will Boisture</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</div>
	<h3>This course is provided by the <%= link_to 'Raoul Wallenberg Institute', 'http://www.rwi.lu.se' %> for staff of national human rights institutions </h3> <p class="btn btn-success btn-large"><%= link_to "Sign up now", new_user_registration_path %></p>
</div>
<% end %>




