<div class="container">
	<h1>Welcome to the Basic Introduction to Human Rights Course</h1>
	<hr>
	<h3>by the <%= link_to 'Raoul Wallenberg Institute', 'http://www.rwi.lu.se' %>
	</h3>
	<p class="btn btn-success btn-large">Sign up now</p>
</div>




